{% extends "default.html" %}
{% block title %}About{% endblock %}
{% block headline %}About{% endblock %}

{% block content%}

<img src="{{ url_for('static', filename='assets/about.jpeg') }}" alt="" class="about-image">
<p class="para-body"><strong>BackpackBuddy is a backpacking gear app designed to help outdoor enthusiasts like you manage their backpacking gear and streamline their packing process. Our app provides a simple and intuitive interface to help you create and manage personalized gear lists for your backpacking trips.</strong></p>
<p class="para-body">With BackpackBuddy, you can easily create a gear list tailored to your specific needs. Whether you're planning a weekend camping trip or a multi-day trek, our app allows you to add and organize items based on categories such as clothing, shelter, cooking equipment, and more. You can customize your gear list for different trips or seasons, ensuring that you have everything you need for a successful adventure.</p>
<p class="para-body">One of the key features of BackpackBuddy is the Weight Calculator. We understand the importance of managing the weight of your backpacking gear, as it directly impacts your comfort and overall experience on the trail. With our built-in weight calculator, you can assign weights to each item in your gear list and easily track the total weight of your pack. This helps you make informed decisions about which items to bring and allows you to keep your pack weight within a comfortable range.</p>
<p class="para-body">BackpackBuddy also offers features to help you stay organized and prepared. You can quickly add or remove items, update their details, and mark them as packed or unpacked. This level of organization and control ensures that you're well-prepared for your outdoor adventures.</p>
<p class="para-body">We're dedicated to providing you with a seamless and enjoyable experience with BackpackBuddy. Whether you're a beginner or an experienced backpacker, our app is designed to simplify your packing process and enhance your overall backpacking experience. Join the BackpackBuddy community today and start managing your backpacking gear with ease!</p>

<a href="/signup"><button class="auth-button btn-center">Join Our Community</button></a>

{% endblock %}