{% extends "default.html" %}
{% block title %}Dashboard{% endblock %}
{% block headline %}Dashboard{% endblock %}

{% block content%}

<p class="large-link"><a href="/create-list"><i class="fa-solid fa-plus"></i> Create New List</a></p>
{% if not user.packing_lists %}
<div class="list-placeholder">
    <p class="placeholder-message">No packing lists found.</p>
</div>
{% endif %}
<div class="grid-4c">
    {% for list in user.packing_lists %}
    <a href="/list/{{ list.slug }}">
        <div class="card" style="background-image: linear-gradient(transparent 25%, rgba(0, 0, 0, 0.75)), url('static/assets/card-images/{{ list.image }}')">
            <p class="card-name">{{ list.name }}</p>
            <p class="card-detail"><i class="fa-solid fa-location-arrow"></i> {{ list.location }}</p>
            <p class="card-detail"><i class="fa-solid fa-calendar-days"></i> {{ list.date }}</p>
            <p class="card-detail"><i class="fa-solid fa-campground"></i> {{ list.gear|length }} Items</p>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}