<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | BackpackBuddy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Zilla+Slab&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4f2a91077e.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include "header.html" %}
    <main>
        <section class="sub-hero">
            <div class="sub-hero-wrapper">
                <h2 class="sub-headline">{% block headline %}{% endblock %}</h2>
            </div>
        </section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert-wrapper" role="alert">
                        <p class="alert-message">{{ message }}</p>
                        <button class="alert-button" onclick="dismissAlert(this)">&times;</button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <section class="content">
            <div class="content-wrapper">
                {% block content %}
                {% endblock %}
            </div>
        </section>
    </main>
    <footer>
        <p class="copyright">Copyright &copy; <script>document.write(new Date().getFullYear())</script> David McDonald | <a href="https://github.com/davmmcdonald" target="_blank">View GitHub Profile <i class="lab la-github"></i></a></p>
    </footer>
</body>
</html>