{% extends "default.html" %}
{% block title %}{{ packing_list.name }}{% endblock %}
{% block headline %}{{ packing_list.name }}{% endblock %}

{% block content%}

<div class="grid-2c">
    <div>
        <p class="list-detail"><i class="fa-solid fa-location-arrow"></i> {{ packing_list.location }}</p>
        <p class="list-detail"><i class="fa-solid fa-calendar-days"></i> {{ packing_list.date }}</p>
        <p class="list-detail"><i class="fa-solid fa-route"></i> {{ packing_list.distance }} miles</p>
        <p class="list-detail"><i class="fa-solid fa-temperature-three-quarters"></i> {{ temp_f }}°F ({{ condition }})</p>
        <p class="list-detail"><i class="fa-solid fa-campground"></i> {{ packing_list.gear|length }} items</p>
        <p class="list-detail"><i class="fa-solid fa-weight-scale"></i> {{ total_weight }}lb / {{ packing_list.target_weight }}lb</p>
    </div>
    <div>
        <!-- <p class="large-link"><a href="/create-list"><i class="fa-regular fa-clone"></i> Duplicate List</a></p> -->
        <p class="large-link"><a href="javascript: void(0)" onclick="copyUrl()"><i class="fa-solid fa-link"></i> Copy List URL</a></p>
        {% if user.id == packing_list.user_id %}
        <p class="large-link"><a href="javascript: void(0)" data-list-id="{{ packing_list.id }}" onclick="deleteList(this)"><i class="fa-solid fa-trash-can"></i> Delete List</a></p>
        {% endif %}
    </div>
</div>

{% if user.id == packing_list.user_id %}
<form action="" class="gear-form" method="POST">
    <input type="text" name="name" id="name" placeholder="Item" class="gear-input" required>
    <select name="category" id="category" class="gear-input" required>
        <option value="" disabled selected>Select category</option>
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>
    <input type="number" name="weight" id="weight" placeholder="Weight (oz)" class="gear-input" required>
    <input type="number" name="temperature" id="temperature" placeholder="Temperature Rating (F)" class="gear-input" required>
    <button type="submit" class="gear-button">Add</button>
</form>
{% endif %}

{% for category in categories %}
<h2 class="category">{{ category.name }}</h2>
    {% for gear in packing_list.gear %}
        {% if gear.category_id == category.id %}
        <div class="gear-wrapper">
            <p class="gear-name">{{ gear.name }}</p>
            <p class="gear-detail">Weight: {% if gear.weight %}{{ gear.weight }}oz{% else %}N/A{% endif %}</p>
            <p class="gear-detail">Temperature Rating: {% if gear.temperature_rating %}{{ gear.temperature_rating }}°F{% else %}N/A{% endif %}</p>
            {% if user.id == packing_list.user_id %}
            <a href="javascript: void(0)" data-list-id="{{ packing_list.id }}" data-gear-id="{{ gear.id }}" onclick="deleteGear(this)"><i class="fa-solid fa-trash-can delete-button"></i></a>
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
    {% if user.id == packing_list.user_id %}
    <div class="gear-placeholder">
        <p class="placeholder-message">Add more gear!</p>
    </div>
    {% endif %}
{% endfor %}

{% endblock %}