{% extends "default.html" %}
{% block title %}Login{% endblock %}
{% block headline %}Login{% endblock %}

{% block content%}

<form action="" class="auth-form">
    <p class="auth-instructions">Need a BackpackBuddy account? <a href="/signup">Create an account</a></p>
    <label for="email" class="auth-label">Email</label>
    <input type="text" name="email" id="email" class="auth-input">
    <label for="password" class="auth-label">Password</label>
    <input type="password" name="password" id="password" class="auth-input">
    <button type="submit" class="auth-button">Login</button>
</form>

{% endblock %}