{% extends "default.html" %}
{% block title %}Signup{% endblock %}
{% block headline %}Signup{% endblock %}

{% block content%}

<form action="" class="auth-form">
    <p class="auth-instructions">Already have a BackpackBuddy account? <a href="/login">Login</a></p>
    <label for="firstName" class="auth-label">First Name</label>
    <input type="text" name="firstName" id="firstName" class="auth-input">
    <label for="firstName" class="auth-label">Last Name</label>
    <input type="text" name="lastName" id="lastName" class="auth-input">
    <label for="email" class="auth-label">Email</label>
    <input type="text" name="email" id="email" class="auth-input">
    <label for="password" class="auth-label">Password</label>
    <input type="password" name="password" id="password" class="auth-input">
    <button type="submit" class="auth-button">Signup</button>
</form>

{% endblock %}